<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
    <h5>first micropost's content:</h5>
    <% if @user.microposts.length > 0 %>
        <%= @user.microposts.first.content %>
    <% else %>
        <i>The user has no microposts!</i>
    <% end %>
</div>

<hr>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
